body {
    background-color: black;
    font-family: Arial, Helvetica, sans-serif;
}
.jimmy-token {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
.josh-token {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
h1 {
    text-align: left;
    font-size: 4em;
    margin: 20px 0;
}
p {
    font-size: 2.5em;
    border: 0;
    margin: 0;
}
.mainbox {
    display: grid;
    position: absolute;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    width: 700px;
    padding: 1% 1.5% 1% 1%;
    margin: 4% 30%;
    background-color: grey;
    border: 5px solid black;
    border-radius: 50px;
}
.game-field {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    padding-top: 5%;
    padding: 0;
    background-color: black;
    margin-right: 0;
    text-align: center;
    font-size: 35px;
    font-weight: bolder;
    border-radius: 0 0 0 50px;
}
.right {
    width: 100%;
    border: 5px solid black;
    display: grid;
    background-color: silver;
    border-radius: 0 50px 50px 0;
}
.left { 
    border-radius: 50px 0 0 50px;
    width:100%;
}
.token-placement {
    height: 150px;
    width: 150px;
    background-color: indigo;
    font-size: 0;
}
.player-one {
    color: indigo;
    font-size: 1.7em;
    margin-bottom: 0;
    margin-top: 0;
}
.player-two {
    color: navy;
    font-size: 1.7em;
    margin-bottom: 0;
    margin-top: 0;
}
.draw {
    color: silver;
    background-color: red;
    text-shadow: 5px 5px black;
    text-decoration: underline;
    font-size: 1.7em;
    margin-bottom: 0;
    margin-top: 0;
}
.start-game {
    color: black;
}
.endgame {
    text-decoration: underline;
}
#turn-wins-toggle {
    font-size: 1.7em;
    margin-bottom: 0;
    margin-top: 0;
}
#player-no-toggle {
    font-size: 1.7em;
    margin-bottom: 0;
    margin-top: 0;
}
.play-again {
    height: 150px;
    width: 150px;
    font-size: 2em;
    border-radius: 50%;
    background-color: grey;
    border: 5px solid black;
}
#borks {
    font-size: 125px;
    text-align: justify;
    margin-top: 0;
    margin-bottom: 0;
    border: 5px solid black;
    background-color: black;
    color: silver;
    border-radius: 50px 0 0 0;
    text-decoration: underline;
    text-shadow: 10px 10px indigo;
    
}
#and-joshes {
    margin-top: 0;
    margin-bottom: 0;
    text-align: justify;
    font-size: 87px;
    border: 5px solid black;
    background-color: black;
    color: silver;
    text-decoration: underline;
    text-shadow: 10px 10px navy;
}
.transparent {
    filter: blur(10px);
}
.opaque {
    filter: blur(none);
}
.adaptable-words {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    font-size: 1.7em;
    text-align: center;
    font-weight: 900;
    border: 5px solid black;
    background-color: silver
}
.jimmy-token {
    border: 5px solid black;
    background-color: black;
}
.josh-token {
    border: 5px solid black;
    background-color: black;
}
#btn1 {
    padding: 0;
    border: 5px solid black;
    border-radius: 50px 0 0 0;
}
#btn2 {
    padding: 0;
    border: 5px solid black;
}
#btn3 {
    padding: 0;
    border: 5px solid black;
    border-radius: 0 50px 0 0;
}
#btn4 {
    padding: 0;
    border: 5px solid black;
}
#btn5 {
    padding: 0;
    border: 5px solid black;
}
#btn6 {
    padding: 0;
    border: 5px solid black;
}
#btn7 {
    padding: 0;
    border: 5px solid black;
    border-radius: 0 0 0 50px;
}
#btn8 {
    padding: 0;
    border: 5px solid black;
}
#btn9 {
    padding: 0;
    border: 5px solid black;
    border-radius: 0 0 50px 0;
}
.arrow1 {
    font-size: 3em;
    text-shadow: 10px 10px black;
}
.arrow2 {
    font-size: 3em;
    text-shadow: 10px 10px black;
}
.break1 {
    height: 60px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    gap: 5px;
}
.arrow1 {
    font-size: 10em;
    text-align: center;
    color: indigo;
}
.arrow2 {
    font-size: 10em;
    text-align: center;
    color: grey;
    height: 50px;
}
.play-again-btn {
    height: 150px;
    text-align: center;
}
.scores {
    padding-top: 150px;
    padding-left: 10px;
}
#p1-score {
    color: indigo;
}
#p2-score {
    color: navy;
}
#draw-score {
    color: maroon;
}
#jimmy {
    width:100%;
}
#jimmy2 {
    width:100%;
}

#jimmy4 {
    width:100%;
}
#p1-name-choose {
    border-radius: 20px;
    margin-top: 50px;
    height: 100px;
    width: 100px;
    margin-left: 12px;
    font-size: 1em;
    border: 5px solid black;
    background-color: indigo;
    color: silver;
}
#p2-name-choose {
    border-radius: 20px;
    margin-top: 50px;
    height: 100px;
    width: 100px;
    font-size: 1em;
    border: 5px solid black;
    background-color: navy;
    color: silver;
}
@media (max-width: 1100px) {
    .mainbox {
        margin: 1%;
    }
}