body {
    background-color: grey;
    font-family: Arial, Helvetica, sans-serif;
}
.heading-box {
    padding-left: 25%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
}
h1 {
    text-align: left;
    font-size: 4em;
    margin: 20px 0;
    text-decoration: underline;
}
.mainbox {
    /* position: absolute; */
    width: 50%;
    padding-top: 5%;
    padding-left: 25%
}
.game-field {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 50%;
    padding-top: 5%;
    padding-left: 25%;
    border: 0;
    text-align: center;
    font-size: 35px;
    font-weight: bolder;
}
.token-placement {
    height: 150px;
    width: 150px;
    background-color: white;
    font-size: 0;
}
#toggle-one {
    color: indigo;
    border: 2px indigo;
}
#toggle-two {
    color: pink;
}
.play-again {
    margin: 50px 0 50px 50%;
    height: 100px;
    width: 150px;
    font-size: 2em;
   /* width: 100%; */
}
#borks {
    font-size: 80px;
}
#and-joshes {
    margin-top: 0;
}